<li>
  <div class='country-list__div'>
    <img src='{{flags.svg}}' alt='Flag of {{name.official}}' class='country-list__flag' />
    <p class='country-list__name'>{{name.official}}</p>
  </div>
</li>