<ul>
  <li><p class='country-card__capital'><span class="country-card__info">Capital:</span> {{capital}}.</p></li>
  <li><p class='country-card__population'><span class="country-card__info">Population:</span> {{population}}.</p></li>
  <li><p class='country-card__languages'><span class="country-card__info">Languages:</span> {{#each languages}}
    <span>{{this}}.</span>
    {{/each}}
  </p></li>
</ul>


